main{
    background: linear-gradient(to right,#00F260, #0575E6);
    margin: 50px 0;
    color: white;
}

.message{
    text-align: center;
    padding-top: 100px;
    height: 150px;
}

.return-home{
    padding-bottom: 100px;
    text-align: center;
}