#start{
    height: 400px;
    background-image: url("images/uni.jpg");
    /*Put all the text in the middle*/
    text-align: center;
    /*The colour of the text*/
    color: white;
    font-weight: bold;
}

#start h2 {
    padding-top: 110px;
    /*Add a stroke to the h2 tag to make it stand out*/
    -webkit-text-stroke: 1px black;
}

#start p{
    padding-top: 20px;
    -webkit-text-stroke: 0.5px black;
}

main{
    background-color: #eee;
}

.events {
    text-align: center;
    padding: 0px 70px;
    
}


#order{
    text-align: center;
}

#orderBtn{
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    padding:5px 10px ;
    background-color: cadetblue;
    color: white;
}

/*Adding a margin between the cards*/
.card{
    margin-bottom: 60px;
}


/* .mySlides {
    display:none;
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    position: relative;
}

.slideshow-container{
    max-height: 400px;
} */
