#start{
    height: 400px;
    /* background-color: #4299f5; */
    background-image: url("images/uni.jpg");
    /*Put all the text in the middle*/
    text-align: center;
    /*The colour of the text*/
    color: black;
    color: lightseagreen;
}

#start h2 {
    padding-top: 100px;
}

#start p{
    padding-top: 20px;
}

main{
    background-color: #eee;
}

.events {
     /* margin-left: 100px; */
    /*margin-right: 60px; */
    /* margin: 0px 50px; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
    padding: 0px 70px;
    
}

#sportEvents {
    /*background-color: lightblue;*/
    color: black;
    padding: 60px;
    text-align: center;
} 

/* footer{
    background: #444;
    padding: 30px;
}

.copy{
    padding-top: 30px;
} */

.mySlides {
    display:none;
    width: 80%;
    height: 400px;
}

/* .slideshow-container{
    max-height: 400px;
} */
