#details {
    padding:40px 0px;
    margin-bottom: 60px;
    background-color: #556270;
    background: linear-gradient(to right,#4ecdc4, #556270);
    color: white;
    text-align: center;
    height: 450px;
    padding-top: 100px;
  }
  
  #details input {
    display: block;
    margin: 0 auto 10px;
  }

  /* Booking buttons code taken from: https://www.youtube.com/watch?v=3-2Pj5hxwrw&list=PLvxuqxA4YloC3UlYuqL1fx9iGjJmkWlmk&index=3&ab_channel=BrianDesign */
  /* Colour gradient chosen from https://uigradients.com/ */
  .main__btn {
    font-size: 1.2rem;
    /*The original colour of the button*/
    background: #3F5EFB;
    /*The colour gradient of the button changes from this to the original background colur*/
    background: -webkit-linear-gradient(to right, #FC466B, #3F5EFB);
    background: linear-gradient(to right, #FC466B, #3F5EFB);
    padding: 5px 10px;
    /*Not adding a radius to the border of the button*/
    border: none;
    border-radius: 3px;
    margin-top: 2px;
  }

 